@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:Chromium;
  src: url(../Fonts/Chromium/chromiumoned.ttf );
}

@font-face {
  font-family: CooperHewitt;
  src: url(../Fonts/cooper-hewitt/CooperHewitt-Medium.otf);

}

body {
  background-color: #21252b;
}

h1 {
  font-family:Chromium;
  font-size: 3rem;
  color: #9bb9dd;
  opacity:0.9;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  span {
    background-size: 100% 15%;
    background-repeat: repeat-x;
    background-position: left 0% bottom 8%;
  }
}
.tapered2 {
  background-image: linear-gradient(
    181deg,
    #9bb9dd 0%,
    #9bb9dd 50%,
    transparent 54%,
    transparent 100%
  );
}

h2 {
  span {
    background-size: 100% 15%;
    background-repeat: repeat-x;
    background-position: left 0% bottom 8%;
  }
}
h3{
  font-family: CooperHewitt;
  font-size: 8rem;
  color: #9bb9dd;
  text-align: center;
 letter-spacing: 0.2em;
 text-transform: uppercase;


}
#arrow-down {
  animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
}
@keyframes bounce {
  50% {
    transform: translateY(-15px);
  }
}
#landing-arrow {
  color: #22b573;
  animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.arrows {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: 20px;
}

.arrows path {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  80% {
    opacity: 1;
    transform: translateY(50px);
    color: #22b573;
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  80% {
    opacity: 1;
    transform: translateY(50px);
    color: #22b573;
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

.arrows path.a1 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}
