@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Montserrat:wght@100&family=Red+Hat+Display&family=Skranji&display=swap');
html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
  }
body {
  margin:0;
 overflow:hidden; 
}
ul{
    list-style-type: none;
}
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
    font-family: 'Red Hat Display', sans-serif;
  }
  img {
    border-style: none;
  }

.left-half img{
    width:20%;
}
.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "right-half left-half";
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px; 
  }

  .left-half{
    grid-area:left-half;
    padding-left:3em;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    position: relative;
 

  }
  .left-half .stats-container{
    margin-top: 8em;
  }
  .left-half h2{
   color:#e10032;
   font-family: 'Skranji', cursive;

    
  }
  span{
    color:#e10032;
  }

  .right-half{
    grid-area:right-half;
    background-color: #e10032;
    height:100vh;
    padding:2em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    border-right:5px black solid;

  }
  .search-container{
    display: flex;
    flex-direction: center;
    align-items: center;
    align-self: center; 
   
    
   
  }
  .stats-container{
    font-family: 'Inclusive Sans', sans-serif;
  }
  .right-half img{
    position: absolute; 
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    width:30%;
    margin-top: 2em;
  }
  .search-input{
    width: 100%;
    height: 2.8rem;
    background: rgb(255,255,255,0.5);
    outline: none;
    border: none;
    border-radius:2em;
    padding: 0 2.5rem 0 1rem;
    font-size: 1rem;
    margin:1em;
  }
  #pokemon-type{
    font-family: 'Red Hat Display', sans-serif;
  }

i {
    color:white;
    font-size:24px;
    animation: search 2s ease-in-out infinite alternate;
}
@keyframes search {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.5);
    }
}
i hover{
    color:bisque;
}